body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #FFE389;
	margin-left: auto;
	margin-right: auto;
	width: 770px;
	min-width: 770px;
}

#logo{
	padding-top: 14px;
	display: block;
	margin: 0px;
}

#body{
	background-image: url(../images/contentBackground.jpg);
	background-repeat:no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	background-color: #FFF7DC;
	min-height: 360px;
	height: 360px;
	width: 750px;
	float: left;
}

#footer{
	background-image: url(../images/contentFooter.jpg);
	background-repeat:no-repeat;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	width: 730px;
	display: block;
	float: left;
}

#content{
	float: right;
	width: 620px;
}

#leftNav{
	float: left;
	width: 120px;
}

#leftNav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-bottom: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
}

#leftNav ul li{
	text-align: right;
	padding: 3px;
}

#leftNav ul li a{
	color: #1360AD;
	text-decoration: none;
	font-weight: bold;
}

#leftNav ul li a:hover{
	text-decoration: underline;
}

#leftNav h3{
	margin: 0px;
	padding: 2px;
	margin-top: 10px;
	font-size:14px;
	border-bottom: 1px solid #CCCCCC;
	padding-left: 5px;
}

/*
#leftNav h3{
	background: #FFB300;
	color: #FFFFFF;
	padding: 1px;
	margin: 0px;
	font-size: 12px;
	padding-left: 6px;
}

.categories{
	list-style-type: none;
	margin: 0px;
	width: 110px;
	padding: 0px;
}

.categories li{
	background-color: #FFE490;
	padding: 1px;
	padding-left: 3px;
	margin-bottom: 1px;
	border-left: 3px solid #FFB300;
}

.categories li a{
	text-decoration: none;
	color: #000000;
}

.mainNav{
	list-style-type: none;
	margin: 0px;
	width: 110px;
	padding-left: 0px;
	margin-bottom: 10px;
}

.mainNav li{
	background: #FFB300;
	color: #FFE490;
	padding: 2px;
	margin-bottom: 1px;
	padding-left: 6px;
}

.mainNav li a{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}
*/
