body{
scrollbar-3dlight-color:#96B0D9;
scrollbar-arrow-color:white;
scrollbar-track-color:#8396B2;
scrollbar-darkshadow-color:#96B0D9;
scrollbar-face-color:#537AAD;
scrollbar-highlight-color:#96B0D9;
scrollbar-shadow-color:#96B0D9;

}